* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;    
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  transition: 0.5s;
}

header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url(./assets/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .toggle.active {
  background: url(./assets/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
}

header .toggle:before {
  content: 'Menu';
  position: absolute;
  right: 45px;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2px 5px;
  background-color: #fff;
}

header .toggle.active:before {
  content: 'Fechar';
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  backdrop-filter: blur(15px);
  z-index: 1;
  box-shadow: 10px 0 15px rgb(0,0,0,0.1);
  transition: 0.5s;
  transition-delay: 1s;
}

section.active .glass {
  width: 100%;
  backdrop-filter: blur(20px);
  box-shadow: 10px 0 15px rgb(0,0,0,0.5);
  transition-delay: 0s;
}