* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;    
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  transition: 0.5s;
}

header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url(./assets/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .toggle.active {
  background: url(./assets/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
}

header .toggle:before {
  content: 'Menu';
  position: absolute;
  right: 45px;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2px 5px;
  background-color: #fff;
}

header .toggle.active:before {
  content: 'Fechar';
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  backdrop-filter: blur(15px);
  z-index: 1;
  box-shadow: 10px 0 15px rgb(0,0,0,0.1);
  transition: 0.5s;
  transition-delay: 1s;
}

section.active .glass {
  width: 100%;
  backdrop-filter: blur(20px);
  box-shadow: 10px 0 15px rgb(0,0,0,0.5);
  transition-delay: 0s;
}

section .content {
  position: relative;
  z-index: 10;
  text-align: center;
  transition: 0.5s;
  transition-delay: 1s;
}

section.active .content {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 0s;
}

section .content h2 {
  position: relative;
  font-size: 10vw;
  line-height: 0.55em;
  color: #fff;
  text-shadow: 0 5px 5px rgba(0,0,0,0.2);
  font-family: 'Dancing Script', cursive;
}

section .content span {
  font-size: 0.2em;
  font-weight: 300;
  letter-spacing: 5px;
  background-color: #fff;
  color: #111;
  padding: 0 10px;
  text-shadow: 0 5px 5px rgba(0,0,0,0);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  text-transform: uppercase;
}

section .sci {
  position: absolute;
  bottom: 40px;
  right: 100px;
  display: flex;
  z-index: 100;
}

section .sci li {
  list-style: none;
  margin: 5px;
  padding: 0 6px;
  background-color: #fff;
  transition: 0.5s;
  transition-delay: calc(0.2s * var(--i));
}

section.active .sci li {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
}

section .sci li a {
  color: #111;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

